/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 2:32:47 PM
    Author     : root
*/
#container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: lightgray;
}

#title{
    height: 150px;
    background-color: #003366;
    text-align: center;
}

#title h1{
    padding: 50px;
    color: white;
}

#select{
    width:95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36px;
    height: 40px;
    background-color: #6699ff;
    text-align: center;
    border-radius: 20px;
}

#select ul{    
    padding-left: 0px;
    list-style: none;
}

.dropdown{
    position: relative;
    left:20px;
    right:40px;
}

.dropdown li {
    float:left;
    zoom: 1;
}

.dropdown li:hover, .dropdown li.hover {
    position: relative; 
}

.dropdown ul {
    visibility: hidden;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0; 
}

.dropdown ul li {
    text-align: left;
    float: none; 
}

ul.dropdown ul ul
{
    left: 100%; top: 0; 
}

/*ul.dropdown li:hover > ul
{
    visibility: visible; 
}*/
		
#select button{
    font-weight:bold;
    height:40px;
    border: 0px;
    background-color:#6699ff;
    color: white;
    
}


#select .subdrop button{
    width: 100%;
    position:relative;
    background-color:#66aaff;
}

#select button:hover{
    background-color:#000000;
}


#footer{
    height: 120px;
    text-align: center;
    background-color: #003366;
}

#mainframe{
    margin:10px;
    background-color: lightgray;
    min-height: 300px;
}

#qce{
    width:100%;
    text-align: center;
}

#qce td{
    margin: 10px;
    border:1px solid green;
    width: auto;
}

.login{
    display:table;
    vertical-align: middle;
    position: absolute;
    left:50%;
    top: 50%;
    margin: auto;
    height: 250px;
    margin-top: -125px;
    width:500px;
    margin-left: -250px;
    text-align: center;
    background-color: white;
    border:solid #3366ff;
    box-shadow: 10px 10px #003366;
}

#cell{
	display:table-cell;
	vertical-align: middle;
}

#loginTable{
	margin-left:auto;
	margin-right:auto;
}

#loginTable input {
	width: 150px;
}

.responsavel{
    width:  20%;
    background-color: lightgreen;
}

.thinRow{
  height: 25px;
}

.fatRow{
    height: 100px;
}

.popup{
    position: fixed;
    z-index: 100;
    background-color: lightblue;
    width: 70%;
    top: 100px;
    left: 15%;
    height: 300px;
    max-height: 70%;
    overflow-y: auto;
}

#shaper{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}

#close{
    position: absolute;
    bottom: 0%;
    left: 70%;
}
